In [28]:
import  numpy as np
import  matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [31]:
df = load_iris()
data = pd.DataFrame(data=df.data, columns=df.feature_names) # Load iris dataset
data['target'] = df.target # Add target column to the dataframe
data['target_names'] = data['target'].apply(lambda x: df.target_names[x]) # Map target numbers to target names

In [32]:
data

     sepal length (cm)  sepal width (cm)  ...  target  target_names
0                  5.1               3.5  ...       0        setosa
1                  4.9               3.0  ...       0        setosa
2                  4.7               3.2  ...       0        setosa
3                  4.6               3.1  ...       0        setosa
4                  5.0               3.6  ...       0        setosa
..                 ...               ...  ...     ...           ...
145                6.7               3.0  ...       2     virginica
146                6.3               2.5  ...       2     virginica
147                6.5               3.0  ...       2     virginica
148                6.2               3.4  ...       2     virginica
149                5.9               3.0  ...       2     virginica

[150 rows x 6 columns]